.sectionLayout {
    margin-top: 150px;
    font-size: 1.25rem;
}

.titleContainer {
    text-align: right;
}

@media only screen and (max-width: 480px) {
    .childContainer {
        padding: 0 0 0 0;
    }
    .titleContainer {
        text-align: left;
    }
  }
